* form 
 */

input {
  padding: 5px;
  width: 500px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid red;
  padding: 20px;
  border-radius: 10px;
  gap: 5px;
  background: linear-gradient(to right, #FFA500, #FF6347);
  ;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
}